[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Quit cairo Dock
Comment=kill the dock
Exec=killall cairo-dock
OnlyShowIn=XFCE;
RunHook=1
StartupNotify=false
Terminal=false
Hidden=true

