[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/data/data/com.termux/files/home/Desktop/Deskify]
row=3
col=0

[/data/data/com.termux/files/home/Desktop/xfce4-conf]
row=4
col=0

[/data/data/com.termux/files/home/Desktop/Logos]
row=2
col=0

