[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=qt5ct theme engine
Comment=change themes for Qt apps
Exec=export QT_QPA_PLATFORMTHEME=qt5ct
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

