[Desktop Entry]
Version=1.0
Type=Application
Name=Rofi
Comment=Launcher
Exec=/data/data/com.termux/files/home/.config/rofi/launchers/type-1/launcher.sh
Icon=/data/data/com.termux/files/home/.local/share/desktop-icons/android-color.svg
Path=/data/data/com.termux/files/home
Terminal=false
StartupNotify=false
